$background: #BBBBBB;
$component: #D4D4D4;
$border: #737373;
$shadow: #292929;

$main-color: #FF6F3C;

$black-color: #0B0B0D;
$white-color: #F5F5F5;

$error-color: #D92027;
$info-color: #3498DB;
$success-color: #54E346;
$warning-color: #FFC93C;
