ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  text-align: justify;
  background-color: $component;
  border: 1px solid $border;
  overflow: hidden;
  resize: none;

  &::placeholder {
    color: $black-color;
  }
}
