a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input,
textarea {
  background-color: transparent;
  padding: 5px;
}

button {
  background-color: transparent;
  padding: 5px 8px;
  cursor: pointer;
}
