@import "../../../../styles/index";

.menu-item {
  padding: 5px 10px;
  transition: 0.5s transform;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;

    & p {
      color: $white-color;
    }
  }

  &.active {
    background-color: $main-color;
    transform: translateY(10px);

    & p {
      color: $white-color;
    }
  }
}
