<footer class="footer w-100">
  <div class="container row">
    <p>Diseñado, desarrollado y testeado por Alejandro González 2021</p>
    <a class="enlace" routerLink=""><p>Políticas</p></a>
    <div class="redes row">
      <a href="">
        <i class="fab fa-twitter icon row-center"></i>
      </a>
      <a href="">
        <i class="fab fa-instagram icon row-center"></i>
      </a>
      <a href="">
        <i class="fab fa-linkedin-in icon row-center"></i>
      </a>
      <a href="">
        <i class="fab fa-github icon row-center"></i>
      </a>
      <a href="">
        <i class="fas fa-coffee icon row-center"></i>
      </a>
    </div>
  </div>
</footer>
